
<div class="table-bg">
  <app-table-header/>
  <div>
    <app-case-row statusIn="delivered" trackingNumber='215149283351'/>
  </div>
  
  <div>
    <app-case-row statusIn="outfordelivery" trackingNumber='215149193684'/>
  </div>

  <div>
    <app-case-row statusIn="intransit" trackingNumber='215149370230'/>
  </div>

  <div>
    <app-case-row statusIn="shipping" trackingNumber='215143469514'/>
  </div>

  <div>
    <app-case-row statusIn="notfound" trackingNumber='215149068092'/>
  </div>

</div>

