
<app-search-bar (searchDataOut)="handleSearchData($event)"/>
<div class="table-bg">
  <app-table-header/>
  <div>
    <app-case-row  trackingNumber='215148960390'/><!-- kuwait actual delivery 2024-07-24 -->
  </div>
  
  <div>
    <app-case-row trackingNumber='215147561076'/> <!-- kuwait actual delivery 2024-07-09 -->
  </div>

  <div>
    <app-case-row trackingNumber='215149616833'/>
  </div>

  <div>
    <app-case-row trackingNumber='215150060294'/>
  </div>

  <div>
    <app-case-row trackingNumber='210244918592'/>
  </div>
  
  <div>
    <app-case-row trackingNumber='215150060294'/> <!-- deliverd to kuwait 2 days didn't pass actual delivery date is 2024-08-07 -->
  </div>

  <div>
    <app-case-row trackingNumber='215150165467'/> <!-- UAE but country iso SA so delivery date is actual date -->
  </div>

</div>

