:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  height: 170px;
  background-color: #ffffff;
  display: flex;
  align-items: center; /* Vertically center children */
  margin-top: 30px;
  font-size: 25px;
  font-weight: 400;
}

.rowinfo {
  display: inline-flex;
  width: fit-content;
  position: relative;
  justify-content: center;
  height: fit-content;
  margin-top: -50px;
  margin-left: 60px;
}
.rectangle {
  position: absolute;
  width: 157px;
  height: 49px;
  top: 0;
  left: 356px;
  background: #10e545;
  z-index: 4;
}
.partially-shipped {
  position: absolute;
  width: 44px;
  height: 44px;
  top: 2px;
  left: 98px;
  z-index: 6;
}
.shipped {
  position: absolute;
  width: 44px;
  height: 44px;
  top: 2px;
  left: 107px;
  background-size: contain;
  z-index: 7;
}
.delivered {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 35px;
  top: 7px;
  left: 10px;
  color: #000000;
  font-family: Jockey One, var(--default-font-family);
  line-height: 34.948px;
  text-align: left;
  white-space: nowrap;
  z-index: 5;
}
.name {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 35px;
  top: 7px;
  left: 174px;
  color: #000000;
  font-family: Jockey One, var(--default-font-family);

  line-height: 34.948px;
  text-align: left;
  white-space: nowrap;
  z-index: 2;
}
.no-track {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 35px;
  top: 7px;
  left: 567px;
  color: #000000;
  font-family: Jockey One, var(--default-font-family);

  line-height: 34.948px;
  text-align: left;
  white-space: nowrap;
  z-index: 1;
}
.no-case {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 35px;
  top: 7px;
  left: 0;
  color: #000000;
  font-family: Jockey One, var(--default-font-family);

  line-height: 34.948px;
  text-align: left;
  white-space: nowrap;
}

.time-line {
  margin-left: 900px;
  display: inline-flex;
}

.rectanglePhone {
  display: none;
}

@media (max-width: 1500px) {
  .main-container {
    display: grid;
    grid-template-columns: 1fr; /* Single column for small screens */
    grid-template-rows: auto auto; /* Adjust rows automatically */
    gap: 10px;
    height: 250px;
    padding-bottom: 5px;
    width: 1500px;
  }

  .rowinfo {
    grid-row: 1; /* Place rowinfo in the first row */
    grid-column: 1; /* Occupy the first column */
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .time-line {
    grid-row: 2; /* Place timeline in the second row */
    grid-column: 1; /* Occupy the same column */
    margin-left: 0; /* Remove the left margin */
    justify-content: start; /* Align timeline content to the start */
  }
}

@media (max-width: 450px) {
  .main-container {
    width: 400px;
    font-size: 15px;
  }

  .rowinfo {
    margin: 0;
  }

  .no-case {
    left: 10px;
  }
  .name {
    left: 130px;
  }

  .no-track {
    left: 265px;
  }

  .main-container {
    width: 100%;
    font-size: 15px;
    display: grid;
    grid-template-columns: 1fr; /* Single column for small screens */
    grid-template-rows: auto auto; /* Three rows for the layout */
    gap: 10px;
    height: 190px; /* Ensure enough height for all rows */
    margin-bottom: 20px;
    padding-left: 10px;
  }

  .rowinfo {
    grid-row: 1; /* Place rowinfo in the first row */
    grid-column: 1; /* Occupy the first column */
    margin: -45px 0; /* Apply margin as needed */
  }

  .time-line {
    grid-row: 2; /* Place time-line in the second row */
    grid-column: 1; /* Occupy the same column */
    margin-left: 0; /* Remove the left margin */
    justify-content: start; /* Align timeline content to the start */
  }

  .rectangle {
    display: none;
  }
}

@media (max-width: 320px) {

  .rowinfo {
    margin: 0;
  }

  .no-case {
    left: 7px;
  }
  .name {
    left: 115px;
  }

  .no-track {
    left: 225px;
  }

  .main-container {
    width: 100%;
    font-size: 13px;
    display: grid;
    grid-template-columns: 1fr; /* Single column for small screens */
    grid-template-rows: auto auto; /* Three rows for the layout */
    gap: 10px;
    height: 190px; /* Ensure enough height for all rows */
    margin-bottom: 20px;
    padding-left: 10px;
  }

  .rowinfo {
    grid-row: 1; /* Place rowinfo in the first row */
    grid-column: 1; /* Occupy the first column */
    margin: -45px 0; /* Apply margin as needed */
  }

  .time-line {
    grid-row: 2; /* Place time-line in the second row */
    grid-column: 1; /* Occupy the same column */
    margin-left: 0; /* Remove the left margin */
    justify-content: start; /* Align timeline content to the start */
  }

  .rectangle {
    display: none;
  }
}
