.table-header {
  position: relative;
  background-color: #ffffff;
  width: 99%;
  height: 50px;
  padding: 10px;
  font-size: 25px;
  font-weight: 400;
}

.status {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 35px;
  top: 12x;
  left: 460px;
  color: #000000;
  font-family: Jockey One, var(--default-font-family);
  line-height: 34.948px;
  text-align: left;
  white-space: nowrap;
  z-index: 2;
  font-weight: 700;
}

.name {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 35px;
  top: 12px;
  left: 240px;
  color: #000000;
  font-family: Jockey One, var(--default-font-family);

  line-height: 34.948px;
  text-align: left;
  white-space: nowrap;
  z-index: 2;
  font-weight: 700;
}
.no-track {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 35px;
  top: 12px;
  left: 620px;
  color: #000000;
  font-family: Jockey One, var(--default-font-family);
  line-height: 34.948px;
  text-align: left;
  white-space: nowrap;
  z-index: 1;
  font-weight: 700;
}
.no-case {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 35px;
  top: 12px;
  left: 40px;
  color: #000000;
  font-family: Jockey One, var(--default-font-family);
  line-height: 34.948px;
  text-align: left;
  white-space: nowrap;
  font-weight: 700;
}

.tracking {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 35px;
  top: 12px;
  left: 1350px;
  color: #000000;
  font-family: Jockey One, var(--default-font-family);

  line-height: 34.948px;
  text-align: left;
  white-space: nowrap;
  z-index: 1;
  font-weight: 700;
}

@media (max-width: 1500px) {
  .tracking {
    visibility: hidden;
  }
}

@media (max-width: 450px) {
  .table-header {
    width: 450px;
    margin: 0px;
    font-size: 15px;
    padding: 0px;
  }
  
  .no-case{
    left: 15px;
  }
  .name{
    left: 140px;
  }

  .status{
    left: 220px;
    top: 12px;
    visibility: hidden;
  }

  .no-track{
    left: 270px;
  }

  
}
